// poppins-300
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin_latin-ext-300.woff2') format('woff2'),
       url('../fonts/poppins-v24-latin_latin-ext-300.ttf') format('truetype');
}

// poppins-400
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin_latin-ext-regular.woff2') format('woff2'),
       url('../fonts/poppins-v24-latin_latin-ext-regular.ttf') format('truetype');
}

// poppins-500
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v24-latin_latin-ext-500.woff2') format('woff2'),
       url('../fonts/poppins-v24-latin_latin-ext-500.ttf') format('truetype');
}

// poppins-700
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v24-latin_latin-ext-700.woff2') format('woff2'),
       url('../fonts/poppins-v24-latin_latin-ext-700.ttf') format('truetype');
}

// dm-sans-400
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dm-sans-v17-latin_latin-ext-regular.woff2') format('woff2'),
       url('../fonts/dm-sans-v17-latin_latin-ext-regular.ttf') format('truetype');
}

// dm-sans-500
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/dm-sans-v17-latin_latin-ext-500.woff2') format('woff2'),
       url('../fonts/dm-sans-v17-latin_latin-ext-500.ttf') format('truetype');
}

// dm-sans-700
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/dm-sans-v17-latin_latin-ext-700.woff2') format('woff2'),
       url('../fonts/dm-sans-v17-latin_latin-ext-700.ttf') format('truetype');
}