* {
  box-sizing: border-box;
}

HTML, BODY {
  height: 100%;
  scroll-behavior: smooth;
}

BODY {
  overflow-x: hidden;
  overflow-y: auto;
}

HTML, BODY, UL, P, H1, H2, H3, FIGURE {
  padding: 0;
  margin: 0;
}

UL, OL {
  list-style-type: none;
}

A {
  text-decoration: none; 
  outline: none;
  cursor: pointer;
}

A:hover, A:focus {
  text-decoration: none;
}

EM {
  font-style: normal;
}

A, SPAN, P, H1, H2, H3, LI, STRONG, EM, LABEL, LEGEND, FIGCAPTION, BLOCKQUOTE, Q, IMG, IFRAME, TD, TH {
  user-select: none;
}

TD, TH {
  padding: 0px;
}

LABEL {
  margin: 0;
}

INPUT, IFRAME, OUTPUT, TEXTAREA {
  border: none;
  outline: none;
  padding: 0;
}

INPUT[type="number"]::-webkit-outer-spin-button,
INPUT[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

INPUT[type='number'],
INPUT[type="number"]:hover,
INPUT[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

INPUT[type="search"]::-webkit-search-decoration,
INPUT[type="search"]::-webkit-search-cancel-button,
INPUT[type="search"]::-webkit-search-results-button,
INPUT[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
}

BUTTON {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  user-select: none;
}

BUTTON * {
  user-select: none;
  pointer-events: none;
}

ADDRESS {
  font-style: normal;
}

FIELDSET, LEGEND, DIALOG, BLOCKQUOTE {
  margin: 0;
  padding: 0;
  border: none;
}

PICTURE {
  line-height: 0;
}

DIALOG:focus {
  outline: none;
}

A, BUTTON {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

// Flex
.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 1358px;
  min-height: 100vh;
  padding: 0 15px;
  margin: 0 auto;

  MAIN {
    flex: 1 0 auto;
  }

  FOOTER, HEADER {
    flex: 0 0 auto;
  }
}

// Grid
// .page-wrapper {
//   display: grid;
//   width: 1358px;
//   min-height: 100vh;
//   padding: 0 15px;
//   margin: 0 auto;
//   grid-template-rows: auto 1fr auto;
// }