.link-text {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.04em;
}

.title-text {
  font-family: 'DM Sans';
  font-size: 142px;
  font-weight: 700;
  line-height: 124px;
  letter-spacing: -0.025em;
}

.sub-text {
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.small-text {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.025em;
}

.mini-text {
  font-family: 'Poppins';
  font-size: 11px;
  font-weight: 400;
  line-height: 100%;
}

.input-text {
  font-family: 'Poppins';
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
}

.popup-text {
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}

.succ-text {
  font-family: 'Poppins';
  font-size: 19px;
  font-weight: 500;
  line-height: 100%;
}

.chat-text {
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.micro-text {
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
}

.head-text {
  font-family: 'DM Sans';
  font-size: 80px;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: -0.022em;
}

.parag-text {
  font-family: 'Poppins';
  font-size: 21px;
  font-weight: 400;
  line-height: 100%;
}

.pag-text {
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.025em;
}

.slide-text {
  font-family: 'DM Sans';
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: -0.046em;
}

.label-text {
  font-family: 'DM Sans';
  font-size: 21px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: -0.025em;
}

.h-text {
  font-family: 'DM Sans';
  font-size: 30px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.045em;
}

.des-text {
  font-family: 'Poppins';
  font-size: 32px;
  font-weight: 400;
  line-height: 34px;
}

.bold-text {
  font-family: 'Poppins';
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
}

.name-text {
  font-family: 'DM Sans';
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -0.045em;
}

.role-text {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}