$lime: rgb(19, 204, 0);
$lime-light: rgb(0, 255, 0);
$lime-green: rgb(56, 142, 60);
$gray-blue: rgb(41, 41, 48);
$gray: rgb(115, 115, 115);
$light-peri: rgb(236, 242, 246);
$white: rgb(255, 255, 255);
$dark-white: rgb(180, 180, 180);
$sea-green: rgb(39, 182, 116);
$blue: rgb(73, 71, 229);
$yellow: rgb(255, 210, 71);
$silver: rgba(111, 111, 111, 0.53);
$dark: rgb(147, 147, 151);
$red: rgb(255, 0, 0);
$dark-silver: rgb(79, 79, 79);
$black-shadow: rgba(0, 0, 0, 0.6);
$ashes: rgb(66, 68, 78);
$black: #151617;