@use './modules/variables.scss' as var;
@use './modules/templates.scss' as *;

// Header

.logotype {
  will-change: transform;
  transition: all 0.2s;

  &:hover, &:focus {
    transform: scale(1.06);
    filter: saturate(1.5)
  }

  &:active {
    transition: all 0.08s;
    transform: scale(0.9);
  }
}

.nav-links__link {
  will-change: transform;
  transition: all 0.2s;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 4px;
    width: 0%;
    height: 2px;
    background: var.$lime;
    border-radius: 10px;
    transition: all 0.2s;
  }

  &:hover, &:focus {
    color: var.$gray-blue;
    transform: translateY(-2px);

    &::after {
      width: calc(100% - 8px);
    }
  }

  &:active {
    transition: all 0.08s;
    transform: scale(0.95);

    &::after {
      transition: all 0.08s;
      opacity: 0;
    }
  }
}

.lang-controls__btn {
  will-change: transform;
  transition: all 0.2s;
  border-radius: 5px;

  .lang-controls__text {
    will-change: transform;
    transition: all 0.2s;
  }

  &:hover, &:focus {

    &:not(.active) {
      background: var.$yellow;
      color: var.$gray-blue;
    }

  }

  &:active {

    &:not(.active) {
      transition: all 0.08s;
      background: transparent;
    }

  }
}

.socials__link {
  will-change: transform;
  transition: all 0.2s;

  &:hover, &:focus {
    transform: scale(1.12);
  }

  &:active {
    transition: all 0.08s;
    transform: scale(0.9);
  }
}

.button {
  will-change: transform;
  transition: all 0.3s;

  &:not([disabled]) {

    &:hover, &:focus {
      background: var.$blue;
    }

    &:active {
      transition: all 0.08s;
      transform: scale(0.95);
    }

  }
}

.partners__link {
  will-change: transform;
  transition: all 0.2s;

  &:hover, &:focus {
    transform: translateY(-2px);
  }

  &:active {
    transition: all 0.08s;
    transform: scale(0.95);
  }
}

.button--aside {
  transition: all 0.3s;

  &:hover, &:focus {
    background: var.$yellow !important;
  }

  &:active {
    transition: all 0.08s;
    transform: rotate(-180deg) scale(0.95) !important;
  }
}

.chat-btn, .scroll-btn {
  will-change: transform;
  transition: all 0.3s;

  &::before, &::after {
    content: '';
    @extend %wh-100;
    position: absolute;
    background: var.$lime;
    border-radius: 50%;
    transition: all 0.3s;
    z-index: -1;
  }
  
  &::before {
    background: var.$yellow;
    transform: scale(0.9);
  }

  &:hover, &:focus {

    &::before {
      transform:  scale(1.1);
    }

  }

  &:active {
    transition: all 0.08s;
    transform: scale(0.9) !important;

    &::before {
      transform: scale(0.9);
    }
  }
}

// Popup-msg

.data-field__input {
  transition: border 0.2s;

  &:hover, &:focus {
    border-color: var.$lime-light;
  }
}

.button--popup {
  will-change: transform;
  transition: all 0.3s;

  &:hover, &:focus {

    &:not([disabled]) {

      background: var.$blue;

      &[type="reset"] {
        background: var.$red;
        color: var.$white;
      }

    }
    
  }

  &:active {

    &:not([disabled]) {
      transition: all 0.08s;
      transform: scale(0.92);
    }
    
  }
}

// Chat

.chat__btn {
  will-change: transform;
  transition: all 0.2s;

  &-icon {
    transition: all 0.2s;
  }

  &:not([disabled]) {

    &:hover, &:focus {

      .chat__btn-icon {
        fill: var.$white;
      }

    }

    &:active {
      transition: all 0.08s;
      transform: scale(0.9);
    }

  }
}

.close-button {
  will-change: transform;
  transition: all 0.2s;
  
  &__icon {
    transition: all 0.2s;
  }

  &:hover, &:focus {
    background: var.$red;

    .close-button__icon {
      fill: var.$white;
    }
  }

  &:active {
    transition: all 0.08s;
    transform: scale(0.85);
  }
}

// About

.slider-controls__btn {
  will-change: transform;
  transition: all 0.2s;

  &:not(.swiper-button-disabled) {

    &:hover, &:focus {
      background: var.$lime;
    }

    &:active {
      transition: all 0.08s;
      transform: scale(0.92);
    }

  }
}

.skills-slider__link {
  transition: all 0.2s;

  &:focus, &:hover {
    color: var.$yellow;
    text-decoration: underline;
    letter-spacing: 1px;
  }
}

// Team

.teammate {
  transition: all 0.25s;

  &__avatar {
    will-change: transform;
    transition: all 0.25s;
  }

  &__name {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0%;
      height: 2px;
      border-radius: 20px;
      background: var.$black;
      transition: all 0.3s;
    }
  }

  &:hover {
    transform: translateY(4px);
    box-shadow: none;

    .teammate__avatar {
      transform: scale(1.1);
    }

    .teammate__name::after {
      width: 100%;
    }

  }
}

.button--team {

  &:not([disabled]) {

    &:hover, &:focus {
      background: var.$lime;
    }

  }
}

// Works

.work-slide {
  will-change: transform;
  transition: all 0.25s;

  &__label {
    will-change: transform;
  }

  &__image {
    will-change: transform;
    transition: all 0.25s;
  }

  &__title {
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 0%;
      height: 2px;
      background: var.$blue;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.2s;
    }
  }

  &:hover {
    transform: translateY(3px);
    box-shadow: none;

    .work-slide__image {
      transform: scale(1.06);
    }

    .work-slide__label {
      animation: label-zoom 0.5s;
    }

    .work-slide__title {

      &::before {
        width: 100%;
      }
    }
  }

  @keyframes label-zoom {
    0%{transform: scale(1)}
    50%{transform: scale(1.2)}
    100%{transform: scale(1)}
  }
}

.work-slide__link {
  transition: all 0.2s;
  text-decoration: underline transparent;

  &:hover, &:focus {
    color: var.$yellow;
    letter-spacing: 0.3px;
    text-decoration: underline var.$yellow;
  }

  &:active {
    transition: all 0.08s;
    transform: translateY(2px);
  }
}