@use './modules/variables.scss' as var;
@use './modules/templates.scss' as *;

// Header

.logotype, .partners__link, .chat-btn, .socials__link, .mobile-menu__close {
  will-change: transform;
  transition: all 0.08s;

  &:active {
    transform: scale(0.92);
  }
}

.button {
  will-change: transform;
  transition: all 0.08s;

  &:not([disabled]) {

    &:active {
      background: var.$blue;
      transform: scale(0.95);
    }

    &[type="reset"]:active {
      background: var.$red;
      color: var.$white;
    }

  }
}

.close-button {
  transition: all 0.07s;

  &__icon {
    transition: all 0.07s;
  }

  &:active {
    background: var.$red;

    .close-button__icon {
      fill: var.$white;
    }
  }
}

.chat__btn {
  will-change: transform;
  transition: all 0.08s;

  &-icon {
    transition: all 0.08s;
  }

  &:active {
    transform: scale(0.92);

    .chat__btn-icon {
      fill: var.$white;
    }
  }
}

.data-field__input {
  transition: all 0.2s;

  &:focus {
    border-color: var.$lime;
  }
}

.nav-links__link {
  transition: all 0.08s;

  &:active {
    color: var.$lime;
  }
}

// About

.slider-controls__btn {
  will-change: transform;
  transition: all 0.2s;

  &:not(.swiper-button-disabled) {

    &:active {
      transition: all 0.05s;
      transform: scale(0.9);
      background: var.$lime;
    }

  }
}

.skills-slider__link {
  transition: all 0.05s;

  &:focus, &:hover {
    text-decoration: underline;
  }

  &:active {
    color: var.$yellow;
    text-decoration: underline;
  }

}

// Team 

.button--team {

  &:not([disabled]) {

    &:active {
      background: var.$lime;
    }

  }
}